.form-background-wrapper {
  min-height: 100vh;
  background-image: url('./ilgin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 40px;
}


.card-form-container {
  padding: 24px;
  border-radius: 10px;
  max-width: 480px;
  background-color: rgb(255, 255, 255);
  margin: 30px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI', sans-serif;
}

.card-form-container h2 {
  margin-bottom: 20px;
}

.card-form-container input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card-form-container button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.budget-card-list ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.delete-btn {
  margin-top: 5px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}
